.venv/
.python_packages/
data/downloads/
data/historic/*.h5
data/historic/**/*.h5
data/maps/*.npy
data/maps/**/*.npy
data/maps/*.tif
data/maps/**/*.tif
data/maps/glofas/*.tif
data/maps/basin_attributes.npy
data/maps/catchment_array.npy
